.my-masonry-grid {
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 4px;
  background-clip: padding-box;
}
.masonry-item {
  margin-bottom: 4px;
  cursor: pointer;
  img{
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 5px;
  }
}
.container_view{
  z-index: 10;
  position: fixed;
  display: grid;
  place-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);  
  backdrop-filter: blur(5px);
}