.skeleton-card {
    width: 180px;
    height: 300px;
    border-radius: 12px;
    border: solid 2px var(--primary);
    background-color: var(--third);
    position: relative;
    overflow: hidden;
}
  
.skeleton-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 150px;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.6),
        transparent
    );
    animation: shimmer 1.5s infinite;
}
  
@keyframes shimmer {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(450px);
    }
}
  