.aside_filter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    p{
        font-size: 10px;
    }
}
.box_filter{
    display: grid;
    place-items: center;
    border-radius: 25px;
    padding: 30px 5px 5px 5px;
    overflow: hidden;
    transition: all ease-in-out 300ms;
    background-color: var(--action);
}
.title_filter{
    font-size: 15px;
    color: var(--primary);
    margin-top: -25px;
    text-align: center;
}
.boxes_fil{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 5px;
}
.box_all{
    display: grid;
    place-items: center;
    width: 60px;
    height: 26px;
    border-radius: 30px;
    border: solid 1px var(--action);
    font-size: 10px;
    color: var(--primary);
    background-color: var(--third);
    margin-right: 5px;
    transition: all ease-in-out 300ms;
    cursor: pointer;
}
.box_all:hover{
    border-color: var(--primary);
    background-color: var(--third);
}
.box_gender{
    z-index: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    height: 25px;
    border-radius: 15px;
    border: solid 1px var(--primary);
}
.box_gender > div >p{
    z-index: 2;
}
.item_filter{
    display: grid;
    place-items: center;
    cursor: pointer;
    width: 90px;
    height: 40px;
}
.item{
    z-index: 1;
    position: absolute;
    width: 90px;
    height: 21px;
    border-radius: 15px;
    background-color: var(--third);
    transition: all ease-in-out 300ms;
}
.item_rigth{
    left: 2px;
}
.item_left{
    left: 88px;
}
.options_filter{
    display: grid;
    align-items: flex-start;
}
.options_filter > label{
    margin-left: 4px;
    font-size: 10px;
}
.select_filter{
    width: 100px;
    border: none;
    border-radius: 25px;
    background-color: var(--third);
    padding: 7px;
    margin-inline: 2px;
}
.select_filter::-webkit-scrollbar-thumb{
    background-color: var(--third);
}
.select_filter::-webkit-scrollbar{
    width: 4px;
}
.visible_filter{
    display: grid;
    margin-top: 5px;
    margin-left: 5px;
    transition: all ease-in-out 300ms;
}
.rotate_true{
    transform: rotate(90deg);
}
.rotate_false{
    transform: rotate(-90deg);
}
.visible_true{
    height: 75px;
}
.visible_false{
    height: 0px;
}
.filter-active-true {
    opacity: 0.2;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

@media
    (width < 700px){
        .boxes_fil{
            display: grid;
        }
        .box_all{
            width: 320px;
            margin-bottom: 10px;
        }
        .item{
            width: 158px;
        }
        .box_gender{
            width: 320px;
        }
        .item_filter{
            width: 160px;
        }
        .item_rigth{
            left: 2px;
        }
        .item_left{
            left: 158px;
        }
        .options_filter{
            margin-block: 5px;
        }
        .select_filter{
            width: 320px;
            margin-top: 2px;
        }
        .visible_true{
            height: 426px;
        }
    }