.container_cardsPreview{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: flex-start;
    min-height: 200px;
    gap: 20px;
    animation: fadeInUp 0.5s ease-out forwards;
}

@media
    (width < 700){
        .container_cardsPreview{
            grid-template-columns: repeat(2,1fr);
        }
    }