.box_section_preview{
    position: relative;
}
.box_cards{
    display: grid;
    place-items: center;
}
.title_category{
    width: 100%;
    margin-top: 20px;
    border-bottom: solid white 1px;
}
.container_cardsPreview{
    display: grid;
    grid-template-columns: repeat(5,auto);
    column-gap: 5px;
    align-items: center;
    justify-content: center;
    padding-block: 20px;
    min-height: 300px;
    gap: 5px;
    animation: fadeInUp 0.5s ease-out forwards;
}

@media
    (width < 1000px){
        .container_cardsPreview{
            grid-template-columns: repeat(4,auto);
        }
    }
@media
    (width < 700px){
        .container_cardsPreview{
            grid-template-columns: repeat(2,auto);
        }
    }
@media
    (width < 300px){
        .container_cardsPreview{
            grid-template-columns: repeat(1,auto);
        }
    }