.form_change_values{
    display: flex;
    align-items: flex-end;
    gap: 5px;
}
.box_label_change_values{
    display: grid;
}
.box_error_change_values{
    display: flex;
    height: 13px;
}
.error_change_values{
    font-size: 10px;
}
.button_change_values{
    margin-bottom: 11px;
}
.label_description{
    width: 270px;
}
.container_change_measures{
    display: flex;
    gap: 22px;
}
.box_input_change_measures{
    display: grid;
    gap: 5px;
}
.box_input_change_measures > input{
    width: 55px;
}

@media (width < 700px){
    .form_change_values{
        display: grid;
    }
}