.section_dashboard{
    display: grid;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    padding-top: 80px;
    padding-bottom: 50px;
}
.header_dashboard{
    display: grid;
    place-items: center;
    h2{
        margin-bottom: 20px;
    }
}
.box_dashboard{
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 5px;
    border: solid 1px var(--primary);
    h6{
        cursor: pointer;
    }
}
.cell_options{
    width: 240px;
    height: 30px;
    cursor: pointer;
}
.item_dashboard{
    z-index: -1;
    position: absolute;
    width: 240px;
    height: 30px;
    background: var(--action);
    transition: all ease-in-out 500ms;
}
.true{
    left: 0px;
}
.false{
    left: 240px;
}
.cell_options{
    display: grid;
    place-items: center;
}

@media
    (width < 700px){
        .item_dashboard{
            width: 174px;
        }
        .cell_options{
            width: 174px;
        }
        .box_dashboard{
            width: 348px;
        }
        .false{
            left: 174px;
        }
    }