---
import Layout from "../layouts/Layout.astro";
---

<Layout title="" >
    <main aria-label="Post del Blog Asmodeo.net" >
        <section>
            <header>

            </header>
            <article>

            </article>
        </section>
    </main>
</Layout>