---
// import { getCollection, render } from "astro:content";
import Layout from "../layouts/Layout.astro";
// const post = await getCollection("posts")

// const { data } = post[0]
// const { title, image } = data

// const { Content } = await render(post[0])

---

<Layout tittle="Blog para Escorts Vip o Clientes | Asmodeo Escorts Vip" >
    <section>
        <header>
            <h1>MANTENETE ACTUALIZADO DEL MUNDO ESCORT EN ASMODEO</h1>
            <p>EN ASMODEO BLOG VAS A ENCONTRAR INFORMACIÓN Y CONSEJOS PARA SIEMPRE TENER UNA BUENA EXPERIENCIA EN EL AMBITO ESCORTS</p>
        </header>
    </section>
</Layout>

<style>
    section{
        display: grid;
        align-items: flex-start;
        min-height: 500px;
        max-width: 700px;
        text-align: center;
        padding-block: 100px;
    }
    header{
        display: grid;
        place-items: center;
    }
    p{
        font-size: 10px;
        text-wrap: balance;
    }
    h1{
        font-family: 'Poppins-ex-italic';
        font-size: 22px;
    }

    @media
        (width < 700px){
            h1{
                font-size: 30px;
            }
        }
</style>