---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Asmodeo | Terminos y Condiciones" >
    <article>
        <header>
            <h2>Al ingresar al sitio se establece que da conformidad a los términos y condiciones legales del sitio abajo descripto.</h2>
            <h5>Es esencial que tanto anunciantes como usuarios lean y comprendan los términos y condiciones de la plataforma antes de interactuar, asegurándose de que todas las actividades se realicen dentro del marco legal y con pleno consentimiento de todas las partes involucradas.</h5>
        </header>
        <section>
            <h2>Legales</h2>
            <h3>Naturaleza del Servicio:</h3>
            <ul>
                <li>El sitio Asmodeo.net actúa exclusivamente como plataforma publicitaria, ofreciendo espacio para que acompañantes y masajistas independientes publiquen sus anuncios. No nos consideramos agencias ni intermediarios directos en los servicios ofrecidos. </li>
                <li>No mantenemos relaciones laborales, contractuales ni de empleo con las personas que anuncian en la página. Cada individuo opera de manera libre e independiente, bajo su propia responsabilidad. </li>
                <li>Este sitio está en contra y condena la trata de personas y la explotación sexual. Conductas delictivas que deben ser denunciadas.</li>
                <li>Solo puede ingresar personas mayores de edad (21 años), según leyes establecidas.</li>
            </ul>
            <h3>Responsabilidad y Contenido:</h3>
            <ul>
                <li>Asmodeo.net no garantiza la exactitud o veracidad de la información proporcionada por los anunciantes. La responsabilidad sobre el contenido de los anuncios recae exclusivamente en quienes los publican. </li>
                <li>No se hacen responsables por la calidad o naturaleza de los servicios ofrecidos por los anunciantes.</li>
                <li>Cualquier inconveniente o disputa que surja debe resolverse directamente entre el cliente y el anunciante.</li>
            </ul>
            <h3>Políticas de Publicación:</h3>
            <ul>
                <li>Se requiere que los anunciantes sean mayores de edad y proporcionen documentación que acredite su identidad y edad legal. Las fotos y videos enviados son verificados para asegurar que correspondan a la persona que realiza la publicación.</li>
                <li>Asmodeo.net se reserva el derecho de aceptar o rechazar anuncios y contenido que consideren inapropiado o que no cumpla con sus políticas internas.</li>
            </ul>
            <h3>Limitaciones de Responsabilidad:</h3>
            <ul>
                <li>Se establece que Asmodeo.net no es responsable por daños indirectos, incidentales o consecuentes que puedan surgir del uso de la plataforma o de los servicios ofrecidos por los anunciantes.</li>
                <li>En caso de disputas legales o problemas relacionados con los servicios de los anunciantes, los usuarios deben contactar directamente a las autoridades competentes o resolver la situación con el profesional involucrado.</li>
            </ul>
            <h3>Políticas de Cancelación y Reembolso:</h3>
            <ul>
                <li>Un anunciante puede cerrar una publicidad creada en Asmodeo.net en el momento que desee. Asmodeo.net no está obligado a hacer un reembolso, ya que el cobro es por la realización de la publicación, independientemente de su duración.</li>
                <li>En caso de denuncia sobre la falsedad del perfil publicado o de estafa en la prestación de servicios, la página (contando con las pruebas pertinentes) tiene el derecho a terminar de manera unilateral el contrato sin reembolso.</li>
            </ul>
        </section>
        <div class="box_links" >
            <h3>Pagínas amigas</h3>
            <a href="https://www.escortdude.com" target="_blank" title="Escortdude.com"><img style="width:468px;height:60px;" src="https://cdn.escortdude.com/static/bn/f6tjm6v40p.gif"></a>
            <a href="https://www.topescort.me" target="_blank" title="Escort Dubai & Middle East"><img style="width:468px;height:60px;" src="https://cdn.topescort.me/static/bn/h3hos8nqez.gif"></a>
            <a href="https://escortnews.eu" title="Escort Girls" target="_blank"><img src="https://static.escortnews.eu/728x90.gif" style="width:468px;height:60px;" alt="Escort Girls"></a>
            <a href="https://www.worldescortindex.com/" target="_blank" title="worldescortindex.com"><img src="https://www.worldescortindex.com/images/style/standardSmall.png" alt="worldescortindex.com"></a>
            <a target="_blank" href="https://ragazzeescort.com/"></a><img src="https://ragazzeescort.com/wp-content/uploads/2023/06/RE2.jpg" alt="Ragazze Escort" width="468" height="60"></a>
            <a href="https://www.topescortdubai.com" target="_blank" title="Top Escort Dubai"><img style="width:468px;height:60px;" src="https://cdn.topescort.com/static/bn/aum9ltdln8.gif"></a>
            <a href="https://escortsmexico.net" title="Escorts México"><img src="https://escortsmexico.net/banners/BN468x60.png"></a>
        </div>
    </article>
</Layout>

<style>
    article{
        padding-block: 80px;
        display: grid;
        place-items: center;
        gap: 30px;
    }
    header{
        display:grid;
        align-items: flex-start;
        width: 900px;
        gap: 10px;
    }
    section{
        display: grid;
        align-items: left;
        width: 900px;
    }
    ul li{
        font-size: 12px;
    }
    .box_links{
        display: grid;
        place-items: center;
        width: 900px;
    }
</style>