---
const year = new Date().getFullYear()
---

<footer>
    <div>
        {`TODOS LOS DERECHOS RESERVADO ©ASMODEO ${year} -`}<a href="/legal">TERMINOS Y CONDICIONES</a>
    </div>
</footer>

<style>
    footer{
        z-index: 10;
        position: fixed;
        bottom: 0;
        display: grid;
        place-items: center;
        font-size: 8px;
        padding-block: 5px;
        width: 100%;
        background-color: var(--total-black);
    }
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        a{
            font-size: 8px;
        }
    }
    div > a:hover{
        color: var(--action);
    }
</style>