---
import Selector from '../components/react/filters/selector/Selector'
---

<article aria-label="Artículo sobre Escort Vip" >
    <div class="wrapper">
        <Selector client:only="react"/>
        <div class="box_links" >
            <h3>Pagínas amigas</h3>
            <a 
                href="https://www.escortdude.com" 
                target="_blank" 
                rel="noreferrer"
                title="Escortdude.com"
                aria-label="Link a Escortdude.com"
            >
                <img 
                    style="width:468px;height:60px;" 
                    src="https://cdn.escortdude.com/static/bn/f6tjm6v40p.gif"
                    alt="Imagen de escortdude.com"
                >
            </a>
            <a 
                href="https://www.topescort.me" 
                target="_blank" 
                rel="noreferrer"
                title="Escort Dubai & Middle East"
                aria-label="Link a Topescort"
            >
                <img 
                    style="width:468px;height:60px;" 
                    src="https://cdn.topescort.me/static/bn/h3hos8nqez.gif"
                    alt="Imagen de topescort.me"
                >
            </a>
            <a 
                href="https://escortnews.eu" 
                target="_blank" 
                rel="noreferrer"
                title="Escort Girls" target="_blank"
                aria-label="Link a Escortnews.eu"
            >
                <img 
                    src="https://static.escortnews.eu/728x90.gif" 
                    style="width:468px;height:60px;" 
                    alt="Escort Girls"
                >
            </a>
            <a 
                href="https://www.worldescortindex.com/" 
                target="_blank" 
                rel="noreferrer"
                title="worldescortindex.com"
                aria-label="Link a Worldescortindex.com"
            >
                <img 
                    src="https://www.worldescortindex.com/images/style/standardSmall.png" 
                    alt="worldescortindex.com"
                >
            </a>
            <a 
                target="_blank" 
                rel="noreferrer"
                href="https://ragazzeescort.com/"
                aria-label="Link a Ragazzeescort.com"
            >
            </a>
                <img 
                    src="https://ragazzeescort.com/wp-content/uploads/2023/06/RE2.jpg" 
                    alt="Ragazze Escort" 
                    width="468" 
                    height="60">
            </a>
            <a 
                href="https://www.topescortdubai.com" 
                target="_blank" 
                rel="noreferrer"
                title="Top Escort Dubai"
                aria-label="Link a topescortdubai.com"
            >
                <img 
                    style="width:468px;height:60px;" 
                    src="https://cdn.topescort.com/static/bn/aum9ltdln8.gif"
                    alt="Imagen de topescort.com"
                >
            </a>
            <a 
                href="https://escortsmexico.net" 
                title="Escorts México"
                target="_blank" 
                rel="noreferrer"
                aria-label="Link a Escortsmexico.net"
            >
                <img 
                    src="https://escortsmexico.net/banners/BN468x60.png"
                    alt="Escort en mexico, página amiga de Asmodeo.net"
                >
            </a>
            <a 
                href="https://pkadoras.com" 
                target="_blank" 
                rel="noreferrer"
                title="Pkadoras Escorts"
                aria-label="Link a pkadoras.com"
            > 
                <img 
                    src="https://pkadoras.com/wp-content/uploads/hotlink-ok/pkadoras-banner-468x60.jpg" 
                    alt="Escorts en Argentina"
                >
            </a>
            <a 
                href="https://luxemiamiescorts.com" 
                title="LUXE Miami Escorts" 
                target="_blank" 
                rel="noreferrer"
                aria-label="Link a luxemiamiescorts.com"
            >
                <img 
                    src="https://luxemiamiescorts.com/wp-content/uploads/banner2.jpeg" 
                    alt="LUXE Miami Escorts" 
                />
            </a>
            <a 
                href="https://www.punterlink.co.uk/argentina/escort-directories" 
                target="_blank" 
                rel="noreferrer"
                aria-label="Link a punterlink.co"
            >
                <img 
                    src="https://www-punterlink-co-uk.dualstackcdn.com/resources/graphics/rlinks/1st6.gif" 
                    alt="Punterlink Argentina Escort Directories" 
                    title="Punterlink Argentina Escort Directories" 
                    width="160" 
                    height="60" 
                >
            </a>
        </div>
    </div>
</article>

<style>
    article {
        display: grid;
        place-items: center;
        height: auto;
        padding: 20px 0px 50px 0px; 
    }
    .wrapper {
        display: grid;
        justify-content: center;
        width: 700px;
        gap: 25px;
    }
    h2{
        font-size: 20px;
    }
    P{
        font-size: 12px;
    }
    .box_links{
        display: grid;
        place-items: center;
    }

    @media
        (width < 700px){
            .wrapper{
                width: 350px;
            }
        }
</style>