---
import ButtonHeart from "./buttons/ButtonHeart.astro";

---

<section>
	<header>
		<h1>
			Asmodeo
			<span>ESCORTS VIP</span>
		</h1>
		<p>
			Coordiná encuentros con chicas de compañía en tu lugar favorito. Contacto directo y sin intermediarios. Mujeres reales, serias y profesionales. Disfrutá experiencias únicas, con fotos verificadas y sin engaños. Solo para mayores de 18 años.
		</p>
	</header>
	<div class="landing_box_button" >
		<ButtonHeart/>
	</div>
	<span class="womans" />
</section>

<style>
	section{
		display: grid;
		place-items: center;
		height: 650px;
		padding-block: 50px;
		background: url('../../public/bgk.webp') no-repeat;
		background-position: center;
		background-size: contain;
	}
	.womans{
		pointer-events: none;
		margin-top:-120px;
		width: 90vw;
		height: 200px;
		background: url('./Asmodeo-Escorts-Vip.webp') center no-repeat;
		background-size: contain;
	}
	header{
		display: grid;
		place-items: center;
		height: 50px;
		padding-top: 50px;
	}
	h1{
		display: grid;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-family: 'Brush-script',sans-serif;
		font-size: 150px;
		line-height: 1;
		font-weight:lighter;
		margin: 0;
	}
	header > h1 > span{
		font-family: 'Poppins-ex-italic';
		font-size: 25px;
		line-height: 1;
		margin-top: -20px;
	}
	.landing_box_button{
		display: grid;
		place-items: center;
		margin-top: 15px;
	}
	p{
		text-align: center;
		width: 700px;
		font-size: 10px;
		font-weight: 100;
	}

	@media
		(width < 700px){
			section{
				background: url('../../public/bgk-mobile.webp') no-repeat;
				background-size: cover;
				width: 100vw;
			}
			header > h1 >span{
				margin-top: 5px;
			}
			.landing_box_button{
				height: 30px;
			}
			h1{
				font-size: 80px;
			}
			.womans{
				display: none;
			}
			p{
				width: 350px;
			}
		}
</style>
