---
import ButtonHeart from "./buttons/ButtonHeart.astro";

---

<section>
	<div class="wrapper">
		<div class="blurred-bg"></div>
		<picture></picture>
	</div>  
	<header>
		<h1 style="view-transition-name: asmodeo;" >Asmodeo</h1>
		<h2>ESCORTS VIP</h2>
	</header>
	<div class="landing_box_button" >
		<ButtonHeart/>
	</div>
	<article>
		<p>Encuentra damas de compañia en Capital Federal.  Visita el departamento privado de la trabajadora sexual o coordina encuentros a domicilio u hoteles. Para contactar con las escorts llamalas por telefono o por WhatsApp tocando en el boton de llamado. Todas las fotos son reales y pertenecen a las escorts de los avisos, fotos reales y sin engaños.. Sitios de Escorts en Argentina: bairesgirls, soloindependientes, selfiegirls, sexysabor, gemidos, argentinaxp, dulcesdiosas, argentinasensual, skokka, argentinasx, tacosaltos, sensualbaires, platynum, mimosasvip, escortsenbuenosaires, escortsvip, mininasvip, locanto, argentinaxp, area-vip, selfiescorts, pkadoras</p>
		<p>Encontra escorts que realicen Fetiches sexuales tales como, fetiche de pies, bsm, masoquismo, sadismo sexual, travestida, voyeurismo, parafilias, amanantar, escort nodriza, fetichismo de pies, nylon, pantyhose, medias, fetichismo de cuero, fantasias sexuales, asfixias, piercings, zapatos, tacones, lenceria, disfraces, salirofilia, burusera, olores, juegos sexuales, sexo oral, sexo anal, lluvia dorada, gaping, garganta profunda, bucal sin globito o bucal natural.  buenosairesescorts, chicas vip buenos aires, buenosairesescorts, chicas vip bs as. Avisos sexuales con fotos y videos.</p>
	</article>
	<span class="womans" />
	<img class="black-circle" src="./blackcircle.svg" alt="Guia Escorts Asmodeo en Argentina">
</section>

<style>
	section{
		display: grid;
		place-items: center;
	}
	.womans{
		pointer-events: none;
		z-index: 10;	
		margin-top:10px;
		margin-bottom: -140px;
		width: 90vw;
		height: 200px;
		background: url('./Asmodeo-Escorts-Vip.webp') center no-repeat;
		background-size: contain;
	}
	.wrapper {
		top: 80%;
		z-index: 0;
		position: relative;
	}
	.blurred-bg {
		position: absolute;
		top: 37%;
		left: 50%;
		width: 400px;
		height: 500px;
		transform: translate(-50%, -50%);
		background: url('/woman.webp') center no-repeat;
		background-size: contain;
		filter: blur(25px);
		z-index: 1;
	}
	picture {
		position: absolute;
		top: 37%;
		left: 50%;
		width: 400px;
		height: 500px;
		transform: translate(-50%, -50%);
		background: url('/woman.webp') center no-repeat;
		background-size: contain;
		z-index: 2;
		mask-image: linear-gradient(var(--third)10%,#00000000);
	}
	header{
		z-index: 2;
		display: grid;
		place-items: center;
		padding-bottom: 15px;
	}
	.landing_box_button{
		position: relative;
		padding-bottom: 10px;
		z-index: 3;
	}
	.black-circle{
		z-index: 1;
		position: absolute;
		left: 50%;
		top: 60%;
		transform: translateX(-50%);
		width: 980px;
		mask-image: linear-gradient(var(--third)55%,#00000000);
	}

	@media
		(width < 700px){
			.black-circle{
				width: 360px;
			}
			picture{
				width: 340px;
			}
			.blurred-bg{
				width: 340px;
			}
			h1{
				font-size: 80px;
			}
			.womans{
				height: 80px;
				margin-bottom: -100px;
			}
		}
</style>
