---
import ButtonHeart from "./buttons/ButtonHeart.astro";

---

<section>
	<div class="wrapper">
		<div class="blurred-bg"></div>
		<picture></picture>
	</div>  
	<header>
		<h1 style="view-transition-name: asmodeo;" >Asmodeo</h1>
		<h2>GUÍA DE ESCORTS VIP</h2>
	</header>
	<div class="landing_box_button" >
		<ButtonHeart/>
	</div>
	<img class="black-circle" src="./blackcircle.svg" alt="">
	<!-- <span class="circle_bkg" /> -->
</section>

<style>
	section{
		display: grid;
		place-items: center;
	}
	.wrapper {
		z-index: 0;
		position: relative;
	}
	.blurred-bg {
		position: absolute;
		top: 37%;
		left: 50%;
		width: 400px;
		height: 500px;
		transform: translate(-50%, -50%);
		background: url('/public/woman.webp') center no-repeat;
		background-size: contain;
		filter: blur(25px);
		z-index: 1;
	}
	picture {
		position: absolute;
		top: 37%;
		left: 50%;
		width: 400px;
		height: 500px;
		transform: translate(-50%, -50%);
		background: url('/public/woman.webp') center no-repeat;
		background-size: contain;
		z-index: 2;
		mask-image: linear-gradient(var(--third)10%,#00000000);
	}
	header{
		z-index: 2;
		display: grid;
		place-items: center;
		padding-bottom: 50px;
	}
	.landing_box_button{
		position: relative;
		z-index: 3;
	}
	.black-circle{
		z-index: 1;
		position: absolute;
		left: 50%;
		top: 60%;
		transform: translateX(-50%);
		width: 980px;
		mask-image: linear-gradient(var(--third)55%,#00000000);
	}
</style>
