.box_navigator_handler{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.current_page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 7px 10px;
    border: none;
    font-size: 12px;
    border-radius: 30px;
    background-color: var(--action);
}