.box_navigator_handler{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.current_page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: var(--action);
}