.box_navigator_handler{
    display: grid;
    place-items: center;
    padding-bottom: 50px;
}
.box_navigator_handler button{
    font-family: 'Poppins-ex-italic';
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    padding: 7px 10px;
    border: none;
    border-radius: 30px;
    border: solid 1px var(--action);
    background-color: var(--action);
    color: var(--secundary);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
.box_navigator_handler button:hover{
    background-color: var(--thid);
    border: solid 1px var(--primary);
}
.current_page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 7px 10px;
    border: none;
    font-size: 12px;
    border-radius: 30px;
    background-color: var(--action);
}