.form_customize{
    display: grid;
    align-items: center;
    gap: 15px;
    margin-block: 100px;
}
.box_navigation_customize{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
    margin-bottom: 25px;
}
.box_input_customize{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.input_customize{
    display:grid;
    align-items: flex-start;
    padding-top: 20px;
}
.customize_img_profile{
    width: 150px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    border: solid 2px var(--primary);
}
.container_images_custom{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
}
.customize_images_picture{
    position: relative;
}
.customize_images_picture > svg{
    display: none;
}
.customize_images{
    width: 86px;
    height: 120px;
    border-radius: 5px;
    object-fit: cover;
}
.customize_images_picture:hover::after{
    content: " ";
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 95%;
    border-radius: 5px;
    background: var(--black-transparent);
}
.customize_images_picture:hove > svg{
    display: block;
    position: absolute;
}

@media (width < 700px){
    .box_input_customize{
        display: grid;
    }
}