:root{
    --primary:#FFFFFF;
    --secundary:#1F1F1F;
    --third:#6B236A;
    --black:#686868;
    --total-black:#000000;
    --action:#DF2DDF;
}
input{
    width: 250px;
    padding: 10px;
    border: none;
    border-bottom: solid 1px var(--primary);
    background-color: transparent;
    color: var(--primary);
    outline: none;
}
input::placeholder{
    color: var(--primary);
}
button{
    width: 270px;
    padding: 10px;
    font-weight: 600;
    background-color: transparent;
    border: solid 1px var(--primary);
    color: var(--primary);
    transition: all ease-in-out 300ms;
}
button:hover{
    background-color: var(--third);
}