---
import { ClientRouter } from "astro:transitions"

const {title} = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? title : 'Sidonay | Guía de Escorts Vip en Argentina'}</title>
		<ClientRouter/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global >
	@font-face {
		font-family: 'Brush-script';
		src: url('../assets/BrushScriptStd.otf') format('truetype');
	}
	@font-face {
		font-family: 'Poppins-ex-italic';
		src: url('../assets/Poppins-ExtraLightItalic.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Poppins-semi-bold';
		src: url('../assets/Poppins-SemiBold.ttf') format('truetype');
	}
	:root{
		--primary:#FFFFFF;
		--secundary:#1F1F1F;
		--third:#6B236A;
		--black:#686868;
		--total-black:#000000;
		--action:#DF2DDF;
	}
	:root::-webkit-scrollbar{
   		width: 5px;
	}
	:root::-webkit-scrollbar-thumb{
		background-color: var();
	}
	html,
	body {
		z-index: 0;
		display: grid;
		place-items: center;
		margin: 0;
		width: 100%;
		height: 100%;
		color: var(--primary);
		background: linear-gradient(var(--secundary),var(--third));
		font-family: 'Poppins-semi-bold',sans-serif;
	}
	h1{
		font-family: 'Brush-script',sans-serif;
		font-size: 150px;
		line-height: 1;
		font-weight:lighter;
		margin: 0;
	}
	h2{
		font-family: 'Poppins-ex-italic',sans-serif;
		font-weight: 100;
		margin: 0;
	}
	a{
		text-decoration: none;
		color: var(--primary);
		
	}
</style>
