---
import { ClientRouter } from "astro:transitions"
import Navbar from "../components/react/navbar/Navbar"
import Footer from "../components/Footer.astro"

const { title, description, canonical} = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.webp"/>
		<link rel="canonical" href={canonical ? `https://asmodeo.net/${canonical}` : "https://asmodeo.net/"}>
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={!description ? "Descubrí las Mejores Escorts VIP Independientes en Buenos Aires. Acompañantes de alto nivel te esperan en Asmodeo Escorts para una Experiencia Exclusiva y Discreta." : description}>
		<title>{title ? title : 'ESCORTS VIP en Buenos Aires | Las Mejores Escorts Mujeres y Hombres en Argentina'}</title>

		<meta property="og:locale" content="es_ES">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Asmodeo | Guía VIP de Escorts en Argentina" />
		<meta property="og:description" content="Elegancia, privacidad y profesionalismo. Descubrí las escorts más exclusivas en Capital Federal, Buenos Aires y toda Argentina. Contacto directo por WhatsApp." />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.asmodeo.net/" />
		<meta property="og:image" content="https://www.asmodeo.net/woman-asmodeo-escorts.webp" />
		<meta property="og:site_name" content="Asmodeo" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Asmodeo | Guía VIP de Escorts en Argentina" />
		<meta name="twitter:description" content="Guía elegante y exclusiva de escorts VIP en Buenos Aires y toda Argentina. Conecta por WhatsApp con profesionales de primer nivel." />
		<meta name="twitter:image" content="https://www.asmodeo.net/woman-asmodeo-escorts.webp" />
		<meta name="twitter:site" content="@asmodeo" />

		<ClientRouter/>
	</head>
	<body>
		<Navbar client:only="react"/>
		<slot />
		<Footer/>
	</body>
</html>

<style is:global >
	@font-face {
		font-family: 'Brush-script';
		src: url('../assets/BrushScriptStd.otf') format('truetype');
	}
	@font-face {
		font-family: 'Poppins-ex-italic';
		src: url('../assets/Poppins-ExtraLightItalic.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Poppins-semi-bold';
		src: url('../assets/Poppins-SemiBold.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Poppins-Light';
		src: url('../assets/Poppins-Light.ttf') format('truetype');
	}
	:root{
		--primary:#FFFFFF;
		--secundary:#1F1F1F;
		--third:#6B236A;
		--black:#686868;
		--total-black:#000000;
		--black-transparent:#0000006c;
		--action:#DF2DDF;
		--pink:#FFA1FF;


		display: grid;
		place-items: center;
		min-height: 100dvh;
		color: var(--primary);
		background: linear-gradient(var(--secundary),var(--third));
		scroll-behavior: smooth;
	}
	:root::-webkit-scrollbar{
		width: 4px;
	}
	:root::-webkit-scrollbar-thumb{
		background-color: var(--third);
	}
	html,body {
		display: grid;
		place-items: center;
		margin: 0;
		font-family: 'Poppins-Light',sans-serif;
	}
	h1{
		font-family: 'Brush-script',sans-serif;
		font-size: 150px;
		line-height: 1;
		font-weight:lighter;
		margin: 0;
	}
	h2{
		font-family: 'Poppins-ex-italic',sans-serif;
		font-weight: 100;
		margin: 0;
	}
	h5{
        margin: 0;
    }
	h6{
		font-family: 'Poppins-Light';
		font-weight: 100;
		margin: 0;
	}
	a{
		text-decoration: none;
		color: var(--primary);
		font-size: 10px;
	}
	input{
		width: 250px;
		padding: 10px;
		border: none;
		font-size: 10px;
		border-bottom: solid 1px var(--primary);
		background-color: transparent;
		color: var(--primary);
		outline: none;
	}
	input::placeholder{
		color: var(--primary);
	}
	label{
		font-size: 12px;
		font-family: 'Poppins-ex-italic',sans-serif;
	}
	button{
		width: 270px;
		padding: 10px;
		font-weight: 600;
		background-color: transparent;
		border: solid 1px var(--primary);
		color: var(--primary);
		transition: all ease-in-out 300ms;
	}
	button:hover{
		background-color: var(--third);
	}
	select{
		width: 270px;
		background-color: transparent;
		color: var(--primary);
		padding: 10px;
		outline: none;
		font-size: 10px;
		border: solid 1px var(--primary);
	}
	select option{
		background:var(--third);
		border: none;
		font-size: 10px;
	}
	textarea{
		outline: none;
		margin-top: 30px;
		font-size: 10px;
		background-color: transparent;
		border: solid 1px var(--primary);
		height: 80px;
		padding: 10px;
		color: var(--primary);
		resize: none;
	}
	textarea::placeholder{
		font-family: 'Poppins-semi-bold';
		color: var(--primary);
	}

	@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
</style>
